.jumbotron {
  /* Estilos para el banner */
  .banner {
      background-color: #3498db; 
      text-align: center; 
      font-family: Arial rgb(17, 17, 17); 
      font-weight: bold; 
      font-size: 30px; 
      color: #0c0c0c; 
      /*text-shadow: -1px 0 #000000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
  }

  /* Estilo para los títulos del banner */
  .banner h1 {
      font-size: 2.5em; 
      margin-bottom: 10px; 
  }

  /* Estilo para el párrafo del banner */
  .banner p {
      font-size: 1.2em; 
  }
}

.banner {
  background: linear-gradient(to bottom, #3498db, #ffffff); /* Fondo degradado */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* otro estilo*/

/*


p {
    margin: 0;
}




#box {
  padding: 100px;
  text-align: center;
  min-width: 100px;
  font-size: 3em;
  font-weight: bold;
  -webkit-backface-visibility: hidden; 
}




#flashlight {
  color: hsla(0,0%,0%,0);
  perspective: 80px;
  outline: none;
}



#flash {
  display: inline-block;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}
    
#box:hover #flash {
  margin-left: 20px;
  transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
}


#light {
  display: inline-block;
  text-shadow: #111 0 0 1px, rgba(255,255,255,0.1) 0 1px 3px;
}

#box:hover #light {
  text-shadow: #fff 0 0 4px, #fcffbb 0 0 20px;
  transform: rotateY(-60deg);
  transition:         transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
}


*/
