.jumbotron {
  /* Estilos para el banner */
  .banner {
      background-color: #3498db; 
      color: #ffffff; 
      padding: 20px; 
      border-radius: 10px; 
      margin-bottom: 20px; 
  }

  /* Estilo para los títulos del banner */
  .banner h1 {
      font-size: 2.5em; 
      margin-bottom: 10px; 
  }

  /* Estilo para el párrafo del banner */
  .banner p {
      font-size: 1.2em; 
  }
}
